<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>concecionaria</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;">Concecionária Don't Car</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button type="button"><a href="/add" class="btn btn-outline-info">Adicionar Carro</a></button>
            
        </div>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                <tr>
                    <th>modelo</th>
                    <th>valor</th>
                    <th>marca</th>
                    <th>ano</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for e in estudantes %}
                <tr>
                    <td>{{e.nome}}</td>
                    <td>{{e.valor}}</td>
                    <td>{{e.marca}}</td>
                    <td>{{e.ano}}</td>
                    <td>
                        <button type="button"><a href="/edit/{{e.id}}">Editar</a></button> |
                        <button type="button"><a href="/delete/{{e.id}}">Excluir</a></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
